{% extends 'base.html.twig' %}

{% block title %}Dragan Dorin Alexandru{% endblock %}
{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
    <link href="{{ asset('css/dragan_dorin_alexandru.css')}}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <div class="card-container">
            <div class="card-header">
                <img src="{{ asset('/img/DraganAlexandru/profile.jpeg') }}" alt="album-cover" />
                <div>
                    <h3>Dragan Dorin Alexandru</h3>
                    <h5>PABD 2021</h5>
                </div>
            </div>
            <div class="card-content">
                <p class="text">But, it’s important that we’re always moving forward. This is a lesson that I learned early in life.</p>
                <br />
                <p class="text">I remember I was around 4 years old, and I was learning to ride my bike with my uncle and my father.</p>
                <br />
                <ul>
                    <li>
                        Of course, I fell off multiple times while I was learning to cycle, and I remember the time I cut my knee pretty badly.
                    </li>
                    <li>
                        Of course, I fell off multiple times while I was learning to cycle, and I remember the time I cut my knee pretty badly.
                    </li>
                    <li>
                        Of course, I fell off multiple times while I was learning to cycle, and I remember the time I cut my knee pretty badly.
                    </li>
                    <li>
                        Of course, I fell off multiple times while I was learning to cycle, and I remember the time I cut my knee pretty badly.
                    </li>
                    <li>
                        went and took a walk around the neighborhood
                    </li>
                    </li>
                </ul>
            </div>


        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %} 