.pageTitle{
    color: orange;
    padding: 1%;
}
.backgroundColor{
    background-color: black;
    border-radius:25px ;
}
.navbar{
    background-color: black;
    
}
.nav-link{
    color: orange !important;
    font-weight: 900 !important;
}
.paragraphText{
    color: white;
}
.imgInList{
    width: 100px;
}
.dropbtn {
    background-color: black;
    color: orange;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .dropdown-content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}