body{
    background: rgb(15,48,99);
    background: linear-gradient(90deg, rgba(15,48,99,1) 0%, rgba(22,182,187,0.7063200280112045) 50%, rgba(15,48,99,1) 100%);
    color: rgb(30,30,30);
    min-height: 100vh;
}

.container{
    width: 80%;
    min-height: 68vh;
    margin: auto;
}

.image-container{
    min-height: 250px;
    max-height: 250px;
    margin: 0 3%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5%;
}

.image-container img{
    max-height: 150px;
}

.btn-list{
    position: absolute;
    bottom: 10px;
}

footer{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
}