<!DOCTYPE html>
<html>
    <head>
        <title>Borsia Calin</title>
        <link rel="stylesheet" href="{{ asset('css/borsiacalin.css') }}"/>
    </head>
    <body>
        <div class="content">
            <p>Literatura (sau beletristica[1]) este arta compozițiilor scrise. O traducere literală a termenului indică sensul de "cunoaștere cu ajutorul literelor" (de la latinescul littera, literă), iar studiul academic al literaturii este cunoscut ca Litere..</p>
            <p>Termenul de "literatură" are diverse sensuri, în funcție de uzul acestuia. În linii mari, poate desemna orice înregistrare simbolică, cuprinzând totul de la imagini și sculpturi la scrisori. Un înțeles mai concentrat ar fi doar textul compus din litere sau simboluri precum hieroglifele egiptene. Un sens chiar mai condensat este acela a unui text cu formă fizică, precum hârtia sau altă formă portabilă, excluzând inscripțiile sau mijloacele de comunicare digitale. Savantul și filosoful musulman Imam Ja'far al-Sadiq (702-765 d.Hr) definește "literatura" astfel: "Literatura este veșmântul pe care cineva îmbracă pe ceea ce scrie sau spune astfel încât să pară mult mai atractivă", adăugând că literatura este o bucată din viață, căreia i-a fost dată o direcție și înțeles, o interpretare artistică a lumii în funcție de observatorul acesteia. Frecvent, textele fac literatura să traverseze aceste granițe. Formalistul rus Roman Jakobson definește literatura ca fiind "violență organizată pentru un discurs banal", evidențiind îndepărtarea literaturii de vorbirea de zi cu zi. Poveștile ilustrate, textele mari, picturile rupestre și implicit monumentele, toate în același timp sau pe rând au lărgit granițele "literaturii"..</p>
            <ul>
                <li>Mihai Floarea, profesor român, definește astfel: "artă al cărei mijloc este cuvântul scris. În sens curent, reprezintă totalitatea operelor scrise într-o limbă (sau în toate limbile) cu valoare estetică. În sens restrâns, mai ales în formularea „literatură de specialitate”, reprezintă totalitatea lucrărilor publicate într-un domeniu, bibliografia necesară aprofundării unei probleme".[2]</li>
                <li>Oamenii pot percepe o diferență între "literatură" și câteva forme cunoscute de proiecte scrise. Termenii "ficțiune literară" și "merit literar" au ajutat mereu la diferențierea celor două proiecte individuale. De exemplu, aproape toți literații percep lucrările lui Charles Dickens ca fiind "literatură", iar unii critici sunt de părere că lucrările lui Jeffrey Archer sunt nedemne de apartenența la "literatura engleză"</li>
                
                
            </ul>
            <img src="{{ asset('img/poza.jpg') }}" alt="">
        </div>
    </body>
</html> 