{% extends "base.html.twig" %}

{% block title %} Pagina personala - Jude Bogdan Laurentiu{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/jude_bogdan.css') }}"/>
{% endblock %}

{% block body %}
<h2>2 paragrafe</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis elementum urna non condimentum. Phasellus a venenatis mi. Cras at dui vitae nunc accumsan sodales nec vitae elit. Donec nec est placerat, venenatis eros ut, vehicula tortor. Quisque dapibus arcu est, a scelerisque velit finibus sit amet. Quisque pulvinar gravida lorem in porttitor. Quisque vel arcu eleifend, facilisis lectus et, faucibus urna. Curabitur hendrerit, tortor vestibulum accumsan luctus, lacus purus ultrices dolor, non tincidunt sapien elit vitae leo. Nullam imperdiet sem vitae erat mollis ullamcorper. Donec eu laoreet odio. Phasellus egestas aliquam odio, ac iaculis lacus. Nullam urna metus, imperdiet a nibh eget, tempus scelerisque justo.</p>
<p>Praesent euismod ultrices arcu. Integer consectetur arcu turpis, eu bibendum sem malesuada sit amet. Ut pulvinar, ex vitae rhoncus faucibus, nisi nisi vulputate purus, malesuada interdum lorem dui cursus erat. Aliquam hendrerit dapibus libero eu blandit. Pellentesque placerat nisl id augue iaculis molestie. Integer laoreet, eros vel rhoncus laoreet, eros massa tempor elit, id tincidunt orci lorem lacinia nisi. Quisque faucibus eget erat in accumsan. In aliquam suscipit libero eget varius. Vivamus et scelerisque dolor, in lacinia velit. Cras varius sapien at lorem malesuada, a tincidunt tellus luctus. Vivamus dictum condimentum arcu, at ornare nulla eleifend vel. Donec et nunc tempus, volutpat sapien eget, elementum nibh. Sed condimentum tellus eu ultrices posuere. In congue, tortor non dapibus luctus, tortor nulla pretium velit, ac feugiat enim odio ac metus. Mauris at congue magna, vel ullamcorper mi. Nulla aliquet ante a diam vestibulum vulputate</p>


<h2>Lista neordonata</h2>

<ul>
  <li>tastatura</li>
  <li>monitor</li>
  <li>mouse</li>
</ul> 

<h2>Imagine</h2>

<p><img src="{{ asset('img/jude_bogdan/img_rb.jpg') }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis elementum urna non condimentum. Phasellus a venenatis mi. Cras at dui vitae nunc accumsan sodales nec vitae elit. Donec nec est placerat, venenatis eros ut, vehicula tortor. Quisque dapibus arcu est, a scelerisque velit finibus sit amet. Quisque pulvinar gravida lorem in porttitor. Quisque vel arcu eleifend, facilisis lectus et, faucibus urna. Curabitur hendrerit, tortor vestibulum accumsan luctus, lacus purus ultrices dolor, non tincidunt sapien elit vitae leo. Nullam imperdiet sem vitae erat mollis ullamcorper. Donec eu laoreet odio. Phasellus egestas aliquam odio, ac iaculis lacus. Nullam urna metus, imperdiet a nibh eget, tempus scelerisque justo.

Donec varius sit amet sem non ultrices. Nullam et justo at metus rutrum egestas non non purus. Nullam vehicula lorem ipsum, sit amet consectetur mauris consectetur vitae. Maecenas a dolor arcu. Aliquam erat volutpat. Phasellus pulvinar ut tortor in suscipit. Suspendisse eros libero, venenatis a sem quis, elementum sagittis velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas sapien mauris, ultrices rutrum nibh id, pulvinar posuere lacus. Vestibulum eleifend mollis libero. Nullam euismod arcu non nulla vehicula, nec viverra erat volutpat. Donec vulputate dolor a sapien venenatis laoreet. Nulla vulputate molestie eros, ut ultricies nulla euismod in. Praesent venenatis, ex sed maximus euismod, est ex cursus velit, sit amet facilisis nulla quam a arcu. Cras vitae interdum nunc, sed cursus libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Praesent euismod ultrices arcu. Integer consectetur arcu turpis, eu bibendum sem malesuada sit amet. Ut pulvinar, ex vitae rhoncus faucibus, nisi nisi vulputate purus, malesuada interdum lorem dui cursus erat. Aliquam hendrerit dapibus libero eu blandit. Pellentesque placerat nisl id augue iaculis molestie. Integer laoreet, eros vel rhoncus laoreet, eros massa tempor elit, id tincidunt orci lorem lacinia nisi. Quisque faucibus eget erat in accumsan. In aliquam suscipit libero eget varius. Vivamus et scelerisque dolor, in lacinia velit. Cras varius sapien at lorem malesuada, a tincidunt tellus luctus. Vivamus dictum condimentum arcu, at ornare nulla eleifend vel. Donec et nunc tempus, volutpat sapien eget, elementum nibh. Sed condimentum tellus eu ultrices posuere. In congue, tortor non dapibus luctus, tortor nulla pretium velit, ac feugiat enim odio ac metus. Mauris at congue magna, vel ullamcorper mi. Nulla aliquet ante a diam vestibulum vulputate.</p>

{% endblock body %} 