{% extends "base.html.twig" %}

{% block title %} Pagina personala - Jude Bogdan Laurentiu{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/jude_bogdan.css') }}"/>
{% endblock %}

{% block body %}

 <div class="container">
        <div class="card">
            <div class="info">
                <br></br>
                 <h1> Pagina personala -- Jude Bogdan Laurentiu </h1>
                 <h3> </h3>
            </div>
            <p>Aliquam erat volutpat. Vivamus lectus erat, accumsan ac cursus ullamcorper, venenatis sed nunc. Quisque vulputate in ex sit amet dictum. Vivamus ac lacinia urna. Donec lacinia iaculis elit sit amet egestas.   </p>

            
            <ul>
                 <li> Tastatura  </li>
                 <li> Roter </li>
                 <li> Swich </li>
                 <li> Monitor </li>

            </ul>

            <img src="{{ asset('img/jude_bogdan/img_a1.jpg')}}" alt="">

           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in felis nec nulla vehicula commodo vitae et turpis. Praesent mattis mattis ipsum, nec ultricies orci tempor ac. </p>
        </div>
   
{% endblock body %} 