{% extends "base.html.twig" %}

{% block title %} Pagina personala - Jude Bogdan Laurentiu{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/JudeBogdan.css') }}"/>
{% endblock %}

{% block body %}

 <div class="container">
        <div class="card">
            <div class="info">
                <br></br>
                 <h1> Pagina personala -- Jude Bogdan Laurentiu </h1>
                 <h3> </h3>
            </div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla leo libero, faucibus sollicitudin rutrum a, scelerisque lacinia tortor. Nam dictum nisi non neque luctus maximus. Proin mauris velit, malesuada in magna eget, accumsan ultricies ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris maximus mi ac enim mattis sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam blandit dui sed tellus efficitur consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel libero nibh. Suspendisse et dolor gravida, pretium eros quis, imperdiet ipsum. Vivamus tincidunt congue finibus. Sed iaculis iaculis odio, fringilla rhoncus mauris porta at.

Proin leo felis, venenatis eget commodo in, placerat quis quam. Integer cursus et massa vel molestie. Morbi malesuada, massa quis pulvinar rutrum, sem diam porta nunc, a rhoncus ipsum velit sit amet nisi. Fusce quis nisl purus. Donec venenatis mi a eros tincidunt, in suscipit diam malesuada. In erat enim, pellentesque et consectetur ac, ornare ut leo. Ut interdum tellus vitae massa vehicula, venenatis fringilla elit gravida. Etiam viverra mauris vel quam egestas, a venenatis lectus hendrerit. Pellentesque nisi erat, consectetur nec interdum ut, tristique id ex. Duis ornare a sem a faucibus. Donec commodo elit eu est dictum, eu bibendum purus consequat. Suspendisse porttitor, felis vel sollicitudin lobortis, odio nisi tempor dui, nec ultrices arcu orci vitae orci. Maecenas nunc tellus, blandit id ex sit amet, ullamcorper cursus felis. In placerat tristique augue ut fermentum.

Curabitur varius, sapien in hendrerit aliquet, arcu ex volutpat purus, ut porttitor sem odio quis ex. Proin luctus, ante at ornare faucibus, augue tellus facilisis arcu, ut sollicitudin metus turpis vel lorem. Nulla fringilla lectus congue lorem blandit, vitae eleifend urna venenatis. Donec massa risus, pretium eget dui in, tempus euismod elit. Mauris ac risus iaculis, maximus sem in, mollis lacus. Suspendisse vel ex quis elit consequat varius in nec felis. Aenean metus ex, efficitur quis ex a, tincidunt fermentum libero. Duis nec ex felis. Vestibulum et felis nulla. Duis sagittis dignissim molestie. Proin congue mollis augue et pharetra. Phasellus maximus pellentesque enim quis ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec at tortor scelerisque sem dapibus blandit sit amet a quam. Nulla erat justo, malesuada eget bibendum a, consequat nec quam. Phasellus maximus risus ac nibh pulvinar, vitae fermentum ex tristique. </p>

            
            <ul>
                 <li> Tastatura  </li>
                 <li> Roter </li>
                 <li> Swich </li>
                 <li> Monitor </li>

            </ul>
<br></br>
            <img src="{{ asset('img/jude_bogdan/img_a1.jpg')}}" alt="">

           <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla leo libero, faucibus sollicitudin rutrum a, scelerisque lacinia tortor. Nam dictum nisi non neque luctus maximus. Proin mauris velit, malesuada in magna eget, accumsan ultricies ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris maximus mi ac enim mattis sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam blandit dui sed tellus efficitur consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel libero nibh. Suspendisse et dolor gravida, pretium eros quis, imperdiet ipsum. Vivamus tincidunt congue finibus. Sed iaculis iaculis odio, fringilla rhoncus mauris porta at.

Proin leo felis, venenatis eget commodo in, placerat quis quam. Integer cursus et massa vel molestie. Morbi malesuada, massa quis pulvinar rutrum, sem diam porta nunc, a rhoncus ipsum velit sit amet nisi. Fusce quis nisl purus. Donec venenatis mi a eros tincidunt, in suscipit diam malesuada. In erat enim, pellentesque et consectetur ac, ornare ut leo. Ut interdum tellus vitae massa vehicula, venenatis fringilla elit gravida. Etiam viverra mauris vel quam egestas, a venenatis lectus hendrerit. Pellentesque nisi erat, consectetur nec interdum ut, tristique id ex. Duis ornare a sem a faucibus. Donec commodo elit eu est dictum, eu bibendum purus consequat. Suspendisse porttitor, felis vel sollicitudin lobortis, odio nisi tempor dui, nec ultrices arcu orci vitae orci. Maecenas nunc tellus, blandit id ex sit amet, ullamcorper cursus felis. In placerat tristique augue ut fermentum.

Curabitur varius, sapien in hendrerit aliquet, arcu ex volutpat purus, ut porttitor sem odio quis ex. Proin luctus, ante at ornare faucibus, augue tellus facilisis arcu, ut sollicitudin metus turpis vel lorem. Nulla fringilla lectus congue lorem blandit, vitae eleifend urna venenatis. Donec massa risus, pretium eget dui in, tempus euismod elit. Mauris ac risus iaculis, maximus sem in, mollis lacus. Suspendisse vel ex quis elit consequat varius in nec felis. Aenean metus ex, efficitur quis ex a, tincidunt fermentum libero. Duis nec ex felis. Vestibulum et felis nulla. Duis sagittis dignissim molestie. Proin congue mollis augue et pharetra. Phasellus maximus pellentesque enim quis ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec at tortor scelerisque sem dapibus blandit sit amet a quam. Nulla erat justo, malesuada eget bibendum a, consequat nec quam. Phasellus maximus risus ac nibh pulvinar, vitae fermentum ex tristique.  </p>
        </div>
   
{% endblock body %} 