<!DOCTYPE html>
<html>
    <head>
        <title>Neag Gabriel</title>
        <link rel="stylesheet" href="{{ asset('css/neaggabriel.css') }}"/>
    </head>
    <body>
        <div class="content">
            <p>SCALA... Skoda SCALA</p>
            <p> Beneficiati de confortul noii generatii a sistemelor de conectivitate, acestea oferind dotari si functii precum cardul SIM integrat si o conexiune wireless a smartphone-ului cu autovehiculul prin intermediul SmartLink.</p>
           <P>Marci de vehicule</P>
            <ul>
                <li>Citigo</li>
                <li>Octavia</li>
                <li>Fabia</li>
                <li>SCALA</li>
                
                
            </ul>
            <img src="{{ asset('img/download.jpg') }}" alt="">
        </div>
    </body>
</html> 