{%extends 'base.html.twig' %}
{% block title %}
	Popa Andrei
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">Home</a>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>Myself, in a nutshell</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9b/Yoda_Empire_Strikes_Back.png/220px-Yoda_Empire_Strikes_Back.png" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Mindset</h5>
						<p class="card-text">
							<blockquote class="blockquote">
								<p class="mb-0">“Once you start down the dark path, forever will it dominate your destiny. Consume you, it will.”</p>
								<footer class="blockquote-footer">Yoda
								</footer>
							</blockquote>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj850JzmvM2NokdFtm6T7HBbBrEUMmARMmrEdH25N4avq691IrZjttF9ChC4h79yAeP9M&usqp=CAU" alt="Card image cap">
					<div class="card-body">

						<h5 class="card-title">Vision</h5>
						<p class="card-text">
							<blockquote class="blockquote">
								<p class="mb-0">“Be mindful of your thoughts, Anakin, they betray you.”</p>
								<footer class="blockquote-footer">Obi-Wan Kenoby
								</footer>
							</blockquote>

						</p>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://i.guim.co.uk/img/media/0318cf958ab0d6dbfc1d8a52c181532c9e81481a/87_0_1618_971/master/1618.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=b71ed2517d7f8dace88f8f68c8d5937d" alt="Card image cap">
					<div class="card-body">

						<h5 class="card-title">Fear</h5>
						<p class="card-text">
							<blockquote class="blockquote">
								<p class="mb-0">“Be careful not to choke on your aspirations.”</p>
								<footer class="blockquote-footer">Darth Vader
								</footer>
							</blockquote>

						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
