<!DOCTYPE html>
<html>
    <head>
        <title>Steau(Bedelean) Roxana Ioana</title>
        <link  href="{{ asset('css/steauRoxanaIoana.css') }}" rel="stylesheet"/>

    </head>

    <body>

        <div class="container">
            <h2>Cetatea Alba Iulia</h2>
            <br></br>
            <br></br>
            <p><img src="{{ asset(''img/steauRoxanaIoana/albaIulia.jpg') }}" class="text-image" alt="Cetatea Alba Carolina">
            Cetatea Alba Carolina este o fortăreață cu bastioane de tip Vauban construită la începutul secolului al XVIII-lea în orașul medieval Alba Iulia pe Dealul Citadelei, având rol de fortificație strategică de apărare a Imperiului Habsburgic împotriva eforturilor militare ale Imperiului Otoman și de consolidare a puterii habsburgice pe plan local.</p>
            <p>Planul originar al cetății a fost trimis la Viena și aprobat de prințul Eugeniu de Savoia la 18 aprilie 1714, acesta împreună cu ordinul de începere a lucrărilor fiind înmânat la 26 aprilie 1714 generalului Steinville, comandantul trupelor imperiale din Transilvania. În iulie 1714 generalul primește în baza observațiilor venite de la Viena notificarea de a întocmi un nou plan, adaptat acestora.</p>
            <p>Fortificaţia, concepută pe o suprafaţă de 110 hectare, cu o incintă apărată de trei rânduri de ziduri, a primit o formă stelată, cu şapte bastioane alternate cu șase raveline, străbătute de galerii boltite, toate delimitate de şanţuri adânci. Forma de stea cu șapte colțuri este dată de cele șapte bastioane, care formează în zona centrală „incinta de siguranță“ a fortificației, cea mai importantă și cea mai bine protejată. Enumerarea de obicei a bastioanelor începe de la Poarta a III-a, spre sud, în sensul acelor de ceasornic. Bastioanele au primit denumiri speciale, legate de numele unor patroni laici sau religioși. Zidurile bastioanelor au la bază 2,5 metri grosime, iar înălțimea trece de 10 metri. Zidul drept care le unește se numește în limbaj tehnic curtină. Corpurile mari amplasate în fața curtinelor se numesc raveline. Ultima linie de ziduri se numește contragardă.</p>
            <p>Rolul Cetății a fost unul militar, de apărare, dat de sistemul bastionar, de tipologia pieselor de artilerie cu care a fost înzestrată, precum şi de mărimea trupelor existente în interiorul ei. Cetatea a fost atacată o singură dată în existența ei militară, dar niciodată cucerită. Episodul a avut loc în 1849, când 8.000 de soldați maghiari au asediat-o fără succes.</p>
            <p>Cetatea Alba Carolina a cunoscut în ultimii ani transformări spectaculoase, care o fac tot mai vizibilă pe „tortul” turistic al Europei. În paralel cu lucrările de restaurare, cofinanțate din fonduri europene, s-a avut în vedere si valorificarea patrimoniului său cultural de excepție. Fortificația este locul în care au loc festivaluri culturale, se aud orchestre celebre, unde concertează artiști de top, români și străini.</p>
            <br></br>
            <p>Obiective turistice:</p>
            <ul>
                <li>OBELISCUL „HOREA, CLOȘCA ȘI CRIȘAN” </li>
                <li>STATUIA LUI MIHAI VITEAZUL </li>
                <li>MUZEUL PRINCIPIA </li>
            </ul>
                <em>Source: <a href="https://albaiuliaqr.ro/cetatea-alba-carolina/" target="_blank">Cetatea Alba Carolina</a></em>
                <br></br>
                <p>&copy; Steau (Bedelean) Roxana Ioana - PABD21</p> 
        </div>

        </body>
</html>