<!DOCTYPE html>
<html>
    <head>
        <title>Stef Alin</title>
        <link rel="stylesheet" href="{{ asset('stefalin.css') }}"/>
    </head>
    <body>
        <div class="continut">
            <p>Stereotipul profesorului universitar prezinta un tip<br>
            (aproape intodeauna este un barbat), cu par alb si halat alb,<br>
            aflat spre mijlocul varstei mijlocii, un tip care vorbeste<br>
            repede si adesea despre domeniul sau de activitate, nea-<br>
            vand insa habar ce inseamna lumea din jurul lui, un tip<br>
            care descrie fara niciun efort genomul musculitei de otet<br>
            in vreme ce, neatent, isi manjeste cravata cu unt. Normele<br>
            sociale si sarcinile cotidiene ii sunt complet straine si-l<br>
            lasa perplex; el stie tot ce e de stiut despre domeniul lui<br>
            de activitate, dar, dincolo de el, nu stie decat foarte putin<br>
            sau nimic.</p>
            <p>Sa fii inteligent nu e totuna cu sa fii puternic; o per-<br>
            soana puternica este puternica in toate contextele. Pe de<br>
            alta parte, cineva sclipitor de inteligent intr-un anume<br>
            context poate parea un batut in cap intr-un alt context.</p>
            <ul>
                <li>Creierul</li>
                <li>idiot</li>
                <li>Dean</li>
                <li>Burnett</li>
            </ul>
            <img src="{{ asset('ci.jpeg') }}" alt="Creierul idiot">
        </div>
    </body>
</html>