<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/TandauGabrielClaudiu.css') }}"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Salutare!</title>
    </head>
    <body>
        <div class="row" align='justify'>
            <div id="empty" class="col-md-2"></div>
            <div id="main" class="col-md-8" align='center'>
                <h1>Bun venit!</h1>
                <p>Numele meu este Tandau Gabriel-Claudiu si aceasta este pagina mea personala. Pentru a ma cunoaste
                mai bine, <a href="https://www.facebook.com/tandau.gabriel/" target="_blank">apasati aici</a> pentru a va directiona
                catre contul de Facebook.</p>
                <img src="{{ asset('img/TandauGabrielClaudiu.png') }}" alt="TandauGabrielClaudiu"/>
                <p>Sunt student la Universitatea "1 Decembrie 1918" din Alba Iulia la programul de masterat "Programare avansata
                si baze de date" in anul II. Sunt pasionat de jocuri video, de sporturi in aer liber si de jocuri de societate. De asemenea,
                imi plac jocurile care imi solicita atentia, memoria si intuitia, precum si gandirea. Imi place sa ajut si sa ofer ajutorul
                celor care au nevoie, daca pot face acest lucru si daca problema respectiva nu ma depaseste. Daca un anumit subiect imi capteaza
                atentia, interesul meu asupra acelui subiect va creste considerabil si ma voi interesa cat de mult posibil pentru a descoperi, a
                invata sau a culege informatii care imi sunt utile si relevante in concordanta cu acel subiect. In caz contrar, nu am capacitatea
                de a ma preface interesat de ceva ce nu ma atrage sub niciun fel.</p>
             </div>
            <div id="empty" class="col-md-2"></div>
        </div>
    </body>
</html>