{%extends 'base.html.twig' %}
{% block title %} Vicky Rusu {% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/vicky_rusu.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
     
    <div class="container">
        <div class="card">
            <div class="info">
                <br></br>
                 <h1> Pagina lu' Vicky </h1>
                 <h3> FUTURE IS READY FOR EVRYONE</h3>
            </div>
            <p> Abracadabra este o scamatorie interesanta si placuta de toata lumea in general, si de copii in special. </p>

            <br></br>
            <ul>
                 <li> Importanta zero </li>
                 <li> Importanta unu </li>
                 <li> Importanta doi </li>

            </ul>
       
            <img src="{{ asset('img/mac1.png')}}" alt="">
        
           <p> Cam atat am avut de spus despre scamatorii. Restul mai cititi si singuri. De exemplu atunci cand nu stii ce sa scrii, poti apela la alte "scamatorii"...</p>
        </div>
     </div>    

{% endblock %}