{% extends 'base.html.twig' %}

{% block title %}Andreea Onofriesei{% endblock %}
{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
    <link href="{{ asset('css/andreea_onofriesei.css')}}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <div class="card-container">
            <div class="card-header">
                <img src="{{ asset('/img/AndreeaOnofriesei/Fletcher.jpg') }}" alt="album-cover" />
                <div>
                    <h3>Andreea Onofriesei</h3>
                    <h5>PABD 2021</h5>
                </div>
            </div>
            <div class="card-content">
                <p class="text">everyday can be a better day despite the challenge</p>
                <br />
                <p class="text">all you gotta do is leave it better than you found it</p>
                <br />
                <ul>
                    <li>
                        feeling good, like i should
                    </li>
                    <li>
                        feeling good, like i should
                    </li>
                    <li>
                        feeling good, like i should
                    </li>
                    <li>
                        feeling good, like i should
                    </li>
                    <li>
                        went and took a walk around the neighborhood
                    </li>
                    </li>
                </ul>
            </div>


        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}