{%extends 'base.html.twig' %}
{% block title %} BancilaMihai {% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/bancilaMihai.css')}}" rel="stylesheet"/>
<link rel="icon" href="../img/bancilaMihai/faviconBMihai.png" sizes="16x16" type="image/png">
{% endblock %}

{% block body %}

    <div class="container">
        <ul class="navi">
            <li><a class="active" href="#">Profil</a></li>
            <li><a href="/Pages-BMihai/feed-bancilaMihai">Postari</a></li>
            <li><a href="/Pages-BMihai/about-bancilaMihai">Despre</a></li>
            <li class="right"><a href="/Pages-BMihai/contact-bancilaMihai">Contact</a></li>
        </ul>
        <div class="info">
            <br></br>
            <h1> &nbsp&nbsp&nbsp&nbspPagina BancilaMihai </h1>
            <br></br>
        </div>

        <p>&nbsp&nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

        <img src="{{ asset('../img/bancilaMihai/img_user_BMihai.png')}}" alt="img not found. aka 404">
        <br></br>

        <p>&nbsp&nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <p>&nbsp&nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
     </div>
{% endblock %} 