{%extends 'base.html.twig' %}
{% block title %} BancilaMihai {% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/bancilaMihai.css')}}" rel="stylesheet"/>
<link rel="icon" href="../img/bancilaMihai/faviconBMihai.png" sizes="16x16" type="image/png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

    <div class="container">
        <ul class="navi">
            <li><a href="/Pages-BMihai/bancilaMihai">Profil</a></li>
            <li><a href="/Pages-BMihai/feed-bancilaMihai">Postari</a></li>
            <li><a href="/Pages-BMihai/about-bancilaMihai">Despre</a></li>
            <li class="right"><a class="active" href="/Pages-BMihai/contact-bancilaMihai">Contact</a></li>
        </ul>
        <div class="info">
            <br></br>
            <h1> &nbsp&nbsp&nbsp&nbspContact BancilaMihai </h1>
            <br></br>
        </div>

        <div class="box">
            <p>Nume: Bancila Mihai</p>
            <p>Telefon: 1234567</p>
            <p class="fa fa-facebook-official">&nbspFacebook: abcdefg</p>
            <p>sau</p>
            <p class="fa fa-linkedin-square">&nbspLinkdin: abcdefg</p>
        </div>
     </div>
{% endblock %} 